[Desktop Entry]
Encoding=UTF-8
Name=Identity Wallet
Comment=Identity wallet
Exec=Identitywallet
Terminal=false
Type=Application
Icon=identity
MimeType=x-scheme-handler/identitywallet;
Categories=Office;Finance;

